<h2>Pages#home</h2>

<h3> published arrticles </h3>
<% @articles.each do |article| %>
  <table>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.description %></td>
      <td><%= article.status %></td>
      <td><%= link_to 'show', article_path(article) %></td>
    </tr>
  </table>
<% end %>
