# <% if current_user.admin? %>
  <div class="col-md-3">
    <nav id="sidebarMenu" class="text-center d-md-block bg-light h-100 d-inline-block">
      <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="#">
              <span data-feather="home"></span>
              <span class="sr-only">(current)</span>
              <%= link_to 'Articles', articles_path %>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file"></span>
              <%= link_to 'New article', new_article_path %>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">
              <span data-feather="home"></span>
              <span class="sr-only">(current)</span>
              <%= link_to 'Users', admins_path %>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
<% end %>
